<div class="h-full w-full">
  <% unless !@answer.present? %>
    <%   @answer.each do |ans| %>
      <div class="m-0 mt-2 p-0 bg-white rounded border border-[#2982cc]">
        <table class="bg-transparent text-[#222] text-xs leading-[135%] border-collapse w-full text-center" cellspacing="1">
          <tbody>
            <tr>
              <td class="bg-blue-100 break-words border-r border-white" style="min-width:160px" id="ph-124018197-d1">
                <span class="font-bold text-xs text-black">
                    <%= ans.user.name %>
                </span>
              </td>
              <td class="bg-blue-100 break-words py-1" width="99%">
                <%= ans.created_at.strftime("%Y.%m.%d %H:%M:%S") %>
              </td>
            </tr>
            <tr>
              <td valign="top" class="bg-slate-50 border-r text-center py-2 pb-4 border-white">
                <img src="/mQ6093WS04sftZpfp7E5SJIyK9jym8dCz0RfxHKZd4XDz18z1.jpg" class="border-none mx-auto" alt="">
              </td>
              <td width="100%" valign="top" class="pt-2 bg-slate-50">
                <div>
                  <span>
                    <%= ans.body %>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
            <td class="bg-blue-100 break-words "></td>
            <td class="bg-blue-100 break-words p-2">
                Номер ответа: <a href='<%= "/questions/" + ans.question_id.to_s %>'> <%= ans.id %></a>
                <div class=" h-[1em] leading-[1] inline-block" style="float:right">
                <%= button_to 'Удалить', destroy_ans_path(ans), method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот вопрос?' }, class: 'btn btn-danger' %>
                </div>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>